<?xml version="1.0" encoding="utf-8"?>
<!--
    phpunit configuration file

    phpunit -c phpunit.xml
         bootstrap="src/autoload.php"
-->
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <php>
        <!-- CHANGE THIS TO YOUR API KEY -->
        <env name="SKYSCANNER_APIKEY" value="" />
    </php>
    <testsuites>
        <testsuite name="SkyScanner SDK">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>